@{
    ViewData["Title"] = "Pagina de Inicio";
}

<div class="text-center">


    <div class="d-flex justify-content-center">
        <img class="p-2" src="~/imagenes/IBSystem.png" alt="Logo de la empresa" />
        <br /> <br /> <br />
      
    </div>
   <div class="d-flex justify-content-center">
   
    <h1 class="p-2">Prueba Tecnica IBSystem</h1>
</div>
    

</div>

